<header class="header-container">
    <div class="header-content">
        <h1 class="header-title">Welcome to KodBook!</h1>
        <!-- Menu button for smaller screens -->
        <button class="menu-button lg:hidden" (click)="isMenuOpen()" aria-label="Toggle Menu">
            ☰
        </button>

        <!-- Navigation links for larger screens and toggled menu for smaller screens -->
        <nav class="header-links lg:flex" [class.hidden]="!isMenuOpen">
            <a routerLink="/login" class="header-link">Login</a>
            <a routerLink="/signup" class="header-link">SignUp</a>
        </nav>
    </div>
</header>